// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #dc3545;  // Warna merah Bootstrap
$theme-colors: (
  "primary": $primary
);
